@import 'global-img', "mixins"
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Pangolin&display=swap')

//-----------------Global

$static-border: 0 0 1px #464646
$def-back: #182533
$easy-border: 1px solid #414339
$easy-color: #E9E8E8
$name-color: #47A4FA

body
	margin: 0
	font-size: 14px
	font-family: 'Alegreya SC', serif
	color: $easy-color

.container
  padding: 20px 30px
  margin: 0 auto
  max-width: 100%

.tmp-link
	color: $name-color

.item-sum
	color: #DAA52F
	font-size: 16px

a
	color: $easy-color
	text-decoration: none

	&:active
		transform: scale(0.99) !important

ul
	margin: 0
	padding: 0

li
	list-style: none

//---------------- Header
.header
	margin: 0
	padding: 10px
	display: flex
	justify-content: space-between
	align-items: center

	&__title
		font-family: 'Pangolin', cursive
		margin-left: 40px
		padding: 5px
		color: $easy-color
		font-size: 46px
		text-shadow: 0px 0 10px #FFAD00

	&__search 
		padding: 5px

		input
			width: 250px
			padding: 10px 10px
			margin-right: 40px
			background-color: rgba(1,1,1,0.4)
			color: $easy-color
			border: none 
			box-shadow: $static-border
			+bp(700px)
				margin: 0
				width: 200px
			+bp(575px)
				padding: 5px
				width: 150px


//---------------- Navigation

.nav
	display: flex
	padding: 0px 10px 0 60px
	position: relative
	+bp(960px)
		padding-left: 0px
		justify-content: center
	

	&__item
		padding: 5px
		&:hover
			transition: .1s
			transform: scale(1.02)
			background-color: #2B5278

			&>.sub-menu
				display: block

		>a
			display: block
			padding: 5px 30px
			position: relative
			font-size: 14px
			+bp(850px)
				padding: 5px 15px
			+bp(650px)
				padding: 5px 10px
				font-size: 11px
			
			&::after
				position: absolute
				content: ""
				right: -5px
				top: 5px
				width: 1px
				height: 20px
				border-left: 1px solid #515151

.sub-menu
	position: absolute
	display: none
	margin-left: -5px
	margin-top: 5px
	border-radius: 2px

	&__item
		a
			display: block
			padding: 5px 70px 5px 20px
			white-space: nowrap	
			&:hover
				background-color: #2B5278

// wrapper

.wrapper
	width: 100%
	min-height: 700px

	.hello
		background-color: $def-back
		padding: 20px
		display: flex
		align-items: center
		justify-content: center

		&__fon
			margin: 0 auto
			max-width: 803px
			
			img
					width: 100%
					height: auto

// list.html

.val-list
	display: flex
	flex-wrap: wrap
	justify-content: center
	padding: 10px 55px
	border-radius: 2px
	background-color: $def-back

	&__item
		font-family: 'Alegreya SC', serif
		padding: 3px 20px 3px 10px
		display: flex
		align-items: center
		margin: 10px 10px
		border-radius: 3px
		font-size: 14px
		text-transform: uppercase
		white-space: nowrap
		border: $easy-border

		&:hover
			transition: 0.1s
			transform: scale(1.02)

		img
			padding: 0 10px 0 0

// страница Валюты


.curr-info
	display: flex
	flex-wrap: wrap
	justify-content: center
	padding: 20px
	background-color: $def-back

	&__item
		padding: 10px
		flex-basis: 40%

		&:not(:first-child)
			margin-left: 50px

	.description
		&__name
			font-size: 18px
			color: $name-color

	.container-card
		margin-left: 40px

	.card
		max-width: 350px
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 0
		border: 1px solid #948747
		padding: 0 10px 10px 10px
		background-color: rgba(1,1,1, 0.4)

		&__item
			display: flex
			justify-content: center
			position: relative
			text-align: center
			margin-bottom: 15px

		&__stack,
		&__info
			&::after
				position: absolute
				top: 25px
				margin: 0 auto
				content: ""
				width: 60px
				height: 2px
				border-bottom: 1px solid #726C56

		&__name
			padding: 5px 0
			color: #cac1aa
			font-weight: bold
			font-size: 16px
			background-color: #2A2818
			box-shadow: 10px 0 0 #2A2818, -10px 0 0 #2A2818
			border-bottom: 1px solid #6A5D43

		&__info
			color: #8183D2
			font-size: 14px

		&__move
			font-size: 12px
			color: #989898
	
.descr
	&__get
		margin-top: 40px
	&__get-title 
		font-size: 18px

	&__gets-values
		border-collapse: collapse
		td
			padding: 5px 20px
			border: $easy-border
			text-align: center

.table-title
	td
		font-weight: bold

// unic-items

.unic-list
	&__item
		border: 1px solid #e43f00
		border-bottom: 5px solid #e43f00
		padding: 13px 15px 13px 15px
		display: flex
		flex-direction: column

		h1
			margin: 5px
			border-bottom: 3px solid #d44400

		li
			padding-top: 15px
		
		li:hover
			transform: scale(1.1)

		img
			padding: 0 0 0 5px

// unic-items-category


.item-card
	display: flex
	align-items: center
	margin-left: 10%
	margin-top: 30px

	&__img
		width: 47px
		height: 47px
		background: url(../img/unic-items/rings/ThePariah.png) 100% 100% no-repeat

	.card-inf
		width: 400px
		margin-left: 40px
		display: flex
		flex-direction: column
		align-items: center
		border: 1px solid #6A5D43	

		&__name-block,
		&__iLvl,
		&__rLvl,
		&__implicit,
		&__properties,
		&__story
			width: 100%
			text-align: center

		&__name-block
			border: 1px solid #6C3A1D
			background-color: #321505
			color: #AF6025
			font-size: 16px
			font-weight: bold

		&__iLvl,
		&__rLvl
			color: #7F7F6B

		&__implicit,
		&__propertie
			color: #8888FF

		&__propertie:last-child
			padding: 15px

		&__story
			box-shadow: 1px -1px 1px #6A5D43
			padding-top: 5px
			color: #AF6025

.s-line
	border-bottom: 1px solid #6A5D43

.lv-color
	color: white