@import url("https://fonts.googleapis.com/css?family=Alegreya+SC|Pangolin&display=swap");
.gradient-header {
  background-color: #0E1621;
}

.gradient-nav {
  background-color: #17212B;
  border: 1px solid #272822;
}

.gradient-item {
  background-color: rgba(45, 59, 98, 0.99);
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Alegreya SC', serif;
}

.container {
  padding: 20px 30px;
  margin: 0 auto;
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:active {
  -webkit-transform: scale(0.99) !important;
          transform: scale(0.99) !important;
}

.elder {
  -webkit-box-shadow: inset 0 0 10px #00CC00;
          box-shadow: inset 0 0 10px #00CC00;
}

.elder:hover {
  -webkit-box-shadow: 0 0 5px #00CC00, inset 0 0 10px #fff;
          box-shadow: 0 0 5px #00CC00, inset 0 0 10px #fff;
}

.exalted {
  -webkit-box-shadow: inset 0 0 10px #FF0000;
          box-shadow: inset 0 0 10px #FF0000;
}

.exalted:hover {
  -webkit-box-shadow: 0 0 5px #FF0000, inset 0 0 10px #fff;
          box-shadow: 0 0 5px #FF0000, inset 0 0 10px #fff;
}

.unic {
  -webkit-box-shadow: inset 0 0 10px #FF3B11;
          box-shadow: inset 0 0 10px #FF3B11;
}

.unic:hover {
  -webkit-box-shadow: 0 0 5px #FF3B11, inset 0 0 10px #fff;
          box-shadow: 0 0 5px #FF3B11, inset 0 0 10px #fff;
}

.rare {
  -webkit-box-shadow: inset 0 0 10px #FFE400;
          box-shadow: inset 0 0 10px #FFE400;
}

.rare:hover {
  -webkit-box-shadow: 0 0 5px #FFE400, inset 0 0 10px #fff;
          box-shadow: 0 0 5px #FFE400, inset 0 0 10px #fff;
}

.magic {
  -webkit-box-shadow: inset 0 0 10px #0B5FA5;
          box-shadow: inset 0 0 10px #0B5FA5;
}

.magic:hover {
  -webkit-box-shadow: 0 0 5px #0B5FA5, inset 0 0 10px #fff;
          box-shadow: 0 0 5px #0B5FA5, inset 0 0 10px #fff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  margin: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: 'Pangolin', cursive;
  margin-left: 40px;
  padding: 5px;
  color: #fff;
  font-size: 46px;
  text-shadow: 0px 0 10px #FFAD00;
}

.header__search {
  padding: 5px;
}

.header__search input {
  width: 250px;
  padding: 10px 10px;
  margin-right: 40px;
  background-color: rgba(1, 1, 1, 0.4);
  color: white;
  border: none;
  -webkit-box-shadow: 0 0 1px #464646;
          box-shadow: 0 0 1px #464646;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 0 60px;
  position: relative;
}

.nav__item {
  padding: 5px;
}

.nav__item:hover {
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #2B5278;
}

.nav__item:hover > .sub-menu {
  display: block;
}

.nav__item > a {
  display: block;
  padding: 5px 30px;
  position: relative;
  font-size: 16px;
}

.nav__item > a::after {
  position: absolute;
  content: "";
  right: -5px;
  top: 5px;
  width: 1px;
  height: 20px;
  border-left: 1px solid #515151;
}

.sub-menu {
  position: absolute;
  display: none;
  margin-left: -5px;
  margin-top: 5px;
  border-radius: 2px;
}

.sub-menu__item a {
  display: block;
  padding: 5px 70px 5px 20px;
  white-space: nowrap;
}

.sub-menu__item a:hover {
  background-color: #2B5278;
}

.wrapper {
  width: 100%;
  min-height: 700px;
  color: #ddd;
}

.wrapper .hello {
  background-color: #181e2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .hello__fon {
  margin: 0 auto;
  max-width: 803px;
}

.wrapper .hello__fon img {
  width: 100%;
  height: auto;
}

.val-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 55px;
  border-radius: 2px;
  background-color: #2e343e;
}

.val-list__item {
  font-family: 'Alegreya SC', serif;
  padding: 3px 20px 3px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  color: #CECECE;
  white-space: nowrap;
}

.val-list__item:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.val-list__item img {
  padding: 0 10px 0 0;
}

.curr-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  background-color: #182533;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.curr-info__item {
  padding: 10px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.curr-info__item:not(:first-child) {
  margin-left: 50px;
}

.curr-info .description__name {
  color: #cab838;
  font-size: 18px;
}

.curr-info .card {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  border: 1px solid #948747;
  padding: 0 10px 10px 10px;
  background-color: rgba(1, 1, 1, 0.4);
}

.curr-info .card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.curr-info .card__stack::after, .curr-info .card__info::after {
  position: absolute;
  top: 25px;
  margin: 0 auto;
  content: "";
  width: 60px;
  height: 2px;
  border-bottom: 1px solid #726C56;
}

.curr-info .card__name {
  padding: 5px 0;
  color: #cac1aa;
  font-weight: bold;
  background-color: #2A2818;
  -webkit-box-shadow: 10px 0 0 #2A2818, -10px 0 0 #2A2818;
          box-shadow: 10px 0 0 #2A2818, -10px 0 0 #2A2818;
  border-bottom: 1px solid #6A5D43;
}

.curr-info .card__info {
  color: #8183D2;
  font-size: 14px;
}

.curr-info .card__move {
  font-size: 12px;
  color: #989898;
}

.descr__get-title {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */