.gradient-header
    background-color: #252c39;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDg1NTZjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxYjIxMmIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTQxOTIyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC45NzkwMDAwMDAwMDAwMDAxIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzM1M2I0NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(72, 85, 108)),color-stop(0.5, rgb(27, 33, 43)),color-stop(0.979, rgb(20, 25, 34)),color-stop(1, rgb(53, 59, 69)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(72, 85, 108) 0%,rgb(27, 33, 43) 50%,rgb(20, 25, 34) 97.9%,rgb(53, 59, 69) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(72, 85, 108) 0%,rgb(27, 33, 43) 50%,rgb(20, 25, 34) 97.9%,rgb(53, 59, 69) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(72, 85, 108) 0%,rgb(27, 33, 43) 50%,rgb(20, 25, 34) 97.9%,rgb(53, 59, 69) 100%);

.gradient-nav 
    background-color: #283243;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDg1NTZjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzMjQ2NmEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjA0NyIvPjxzdG9wIHN0b3AtY29sb3I9IiMxYjIxMmIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMzUzYjQ1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(72, 85, 108)),color-stop(0.047, rgb(50, 70, 106)),color-stop(0.5, rgb(27, 33, 43)),color-stop(1, rgb(53, 59, 69)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(72, 85, 108) 0%,rgb(50, 70, 106) 4.7%,rgb(27, 33, 43) 50%,rgb(53, 59, 69) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(72, 85, 108) 0%,rgb(50, 70, 106) 4.7%,rgb(27, 33, 43) 50%,rgb(53, 59, 69) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(72, 85, 108) 0%,rgb(50, 70, 106) 4.7%,rgb(27, 33, 43) 50%,rgb(53, 59, 69) 100%);



@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Play&display=swap')
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

//-----------------Global

ul
	margin: 0
	padding: 0

li
	list-style: none

//---------------- Header
body
	margin: 0
	font-family: 'Kaushan Script', cursive

.header
	margin: 0
	padding: 10px
	display: flex
	justify-content: space-between
	align-items: center

	&__title
		margin-left: 40px
		padding: 5px
		color: #fff
		font-size: 44px
		text-shadow: 0px 0 10px #FFAD00

	&__search 
		padding: 5px

		input
			width: 200px
			padding: 5px 10px
			margin-right: 40px

//---------------- Navigation

.nav
	display: flex
	padding: 0px 10px 0 60px
	position: relative

	li
		&:hover
			transition: .1s
			transform: scale(1.02)
			background-color: rgba(white, 0.1)

			&>.sub-menu
				display: block

		a
			display: block
			padding: 10px 30px
			font-family: 'El Messiri', sans-serif
			position: relative
			font-size: 16px
			color: #fff
			text-decoration: none

			&::after
				position: absolute
				content: ""
			Ё	right: 0px
				top: 16px
				width: 1px
				height: 10px
				border-left: 1px solid #515151

.sub-menu
	position: absolute
	display: none
	margin-left: 0px

	&__item
		color: #fff

		a
			display: block
			padding: 5px 40px
			white-space: nowrap

			&:hover
				background-color: rgba(white, 0.1)


					
