.gradient-header
    background-image: url(data:image/svg+xmlbase64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMTcxYjIyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxYjIxMmIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTQxOTIyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjxzdG9wIHN0b3AtY29sb3I9IiMzNTNiNDUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==)
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(23, 27, 34)),color-stop(0.5, rgb(27, 33, 43)),color-stop(1, rgb(20, 25, 34)),color-stop(1, rgb(53, 59, 69)))
    background-image: -webkit-repeating-linear-gradient(top,rgb(23, 27, 34) 0%,rgb(27, 33, 43) 50%,rgb(20, 25, 34) 100%,rgb(53, 59, 69) 100%)
    background-image: repeating-linear-gradient(to bottom,rgb(23, 27, 34) 0%,rgb(27, 33, 43) 50%,rgb(20, 25, 34) 100%,rgb(53, 59, 69) 100%)
    background-image: -ms-repeating-linear-gradient(top,rgb(23, 27, 34) 0%,rgb(27, 33, 43) 50%,rgb(20, 25, 34) 100%,rgb(53, 59, 69) 100%)

.gradient-nav 
    background-color: #2b323f
    background-image: url(data:image/svg+xml.base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDg1NTZjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxYjIxMmIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTQxOTIyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MDMiLz48c3RvcCBzdG9wLWNvbG9yPSIjMzUzYjQ1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=)
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(72, 85, 108)),color-stop(0.5, rgb(27, 33, 43)),color-stop(0.503, rgb(20, 25, 34)),color-stop(1, rgb(53, 59, 69)))
    background-image: -webkit-repeating-linear-gradient(top,rgb(72, 85, 108) 0%,rgb(27, 33, 43) 50%,rgb(20, 25, 34) 50.3%,rgb(53, 59, 69) 100%)
    background-image: repeating-linear-gradient(to bottom,rgb(72, 85, 108) 0%,rgb(27, 33, 43) 50%,rgb(20, 25, 34) 50.3%,rgb(53, 59, 69) 100%)
    background-image: -ms-repeating-linear-gradient(top,rgb(72, 85, 108) 0%,rgb(27, 33, 43) 50%,rgb(20, 25, 34) 50.3%,rgb(53, 59, 69) 100%)

$static-border: 0 0 1px #464646

body
	margin: 0
	font-size: 14px
	font-family: 'El Messiri', sans-serif

.container
  padding: 20px 30px
  margin: 0 auto
  max-width: 100%

a
	color: #fff
	text-decoration: none

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Play&display=swap')
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap')

//-----------------Global

ul
	margin: 0
	padding: 0

li
	list-style: none

//---------------- Header
.header
	margin: 0
	padding: 10px
	display: flex
	justify-content: space-between
	align-items: center

	&__title
		margin-left: 40px
		padding: 5px
		color: #fff
		font-size: 44px
		text-shadow: 0px 0 10px #FFAD00

	&__search 
		padding: 5px

		input
			width: 250px
			padding: 10px 10px
			margin-right: 40px
			background-color: rgba(1,1,1,0.4)
			color: white
			border: none 
			box-shadow: $static-border


//---------------- Navigation

.nav
	display: flex
	padding: 0px 10px 0 60px
	position: relative

	&__item
		&:hover
			transition: .1s
			transform: scale(1.02)
			background-color: rgba(1,1,1, 0.1)

			&>.sub-menu
				display: block

		>a
			display: block
			padding: 5px 30px
			position: relative
			font-size: 14px
			
			&::after
				position: absolute
				content: ""
				right: 0px
				top: 16px
				width: 1px
				height: 10px
				border-left: 1px solid #515151

.sub-menu
	position: absolute
	display: none
	margin-left: 0px
	border-radius: 2px

	&__item
		a
			display: block
			padding: 5px 50px 5px 10px
			white-space: nowrap	
			&:hover
				background-color: rgba(white, 0.1)

// wrapper

.wrapper
	width: 100%
	height: 700px
	color: #ddd

	.hello
		background-color: #181e2f	
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column

		&__fon
			
					
