@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Play&display=swap");
@import url("https://fonts.googleapis.com/css?family=El+Messiri&display=swap");
.gradient-header {
  background-image: url(data:image/svg+xmlbase64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMTcxYjIyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxYjIxMmIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTQxOTIyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjxzdG9wIHN0b3AtY29sb3I9IiMzNTNiNDUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-repeating-linear-gradient(top, #171b22 0%, #1b212b 50%, #141922 100%, #353b45 100%);
  background-image: repeating-linear-gradient(to bottom, #171b22 0%, #1b212b 50%, #141922 100%, #353b45 100%);
  background-image: -ms-repeating-linear-gradient(top, #171b22 0%, #1b212b 50%, #141922 100%, #353b45 100%);
}

.gradient-nav {
  background-color: #2b323f;
  background-image: url(data:image/svg+xml.base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDg1NTZjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMxYjIxMmIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTQxOTIyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MDMiLz48c3RvcCBzdG9wLWNvbG9yPSIjMzUzYjQ1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
  background-image: -webkit-repeating-linear-gradient(top, #48556c 0%, #1b212b 50%, #141922 50.3%, #353b45 100%);
  background-image: repeating-linear-gradient(to bottom, #48556c 0%, #1b212b 50%, #141922 50.3%, #353b45 100%);
  background-image: -ms-repeating-linear-gradient(top, #48556c 0%, #1b212b 50%, #141922 50.3%, #353b45 100%);
}

.gradient-item {
  background-color: rgba(45, 59, 98, 0.99);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNWM3MmRmIiBzdG9wLW9wYWNpdHk9IjAuOTYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyMDI3MzMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQzOSIvPjxzdG9wIHN0b3AtY29sb3I9IiMxODFlMjkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUxOCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyOTQwNjYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-repeating-linear-gradient(top, rgba(92, 114, 223, 0.96) 0%, #202733 43.9%, #181e29 51.8%, #294066 100%);
  background-image: repeating-linear-gradient(to bottom, rgba(92, 114, 223, 0.96) 0%, #202733 43.9%, #181e29 51.8%, #294066 100%);
  background-image: -ms-repeating-linear-gradient(top, rgba(92, 114, 223, 0.96) 0%, #202733 43.9%, #181e29 51.8%, #294066 100%);
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'El Messiri', sans-serif;
}

.container {
  padding: 20px 30px;
  margin: 0 auto;
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

.elder {
  -webkit-box-shadow: inset 0 0 15px #00CC00;
          box-shadow: inset 0 0 15px #00CC00;
}

.elder:hover {
  -webkit-box-shadow: 0 0 5px #00CC00, inset 0 0 15px #00CC00;
          box-shadow: 0 0 5px #00CC00, inset 0 0 15px #00CC00;
}

.exalted {
  -webkit-box-shadow: inset 0 0 15px #FF0000;
          box-shadow: inset 0 0 15px #FF0000;
}

.exalted:hover {
  -webkit-box-shadow: 0 0 5px #FF0000, inset 0 0 15px #FF0000;
          box-shadow: 0 0 5px #FF0000, inset 0 0 15px #FF0000;
}

.unic {
  -webkit-box-shadow: inset 0 0 15px #FF3B11;
          box-shadow: inset 0 0 15px #FF3B11;
}

.unic:hover {
  -webkit-box-shadow: 0 0 5px #FF3B11, inset 0 0 15px #FF3B11;
          box-shadow: 0 0 5px #FF3B11, inset 0 0 15px #FF3B11;
}

.rare {
  -webkit-box-shadow: inset 0 0 15px #FFE400;
          box-shadow: inset 0 0 15px #FFE400;
}

.rare:hover {
  -webkit-box-shadow: 0 0 5px #FFE400, inset 0 0 15px #FFE400;
          box-shadow: 0 0 5px #FFE400, inset 0 0 15px #FFE400;
}

.magic {
  -webkit-box-shadow: inset 0 0 15px #0B5FA5;
          box-shadow: inset 0 0 15px #0B5FA5;
}

.magic:hover {
  -webkit-box-shadow: 0 0 5px #0B5FA5, inset 0 0 15px #0B5FA5;
          box-shadow: 0 0 5px #0B5FA5, inset 0 0 15px #0B5FA5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  margin: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: "Kaushan Script";
  margin-left: 40px;
  padding: 5px;
  color: #fff;
  font-size: 46px;
  text-shadow: 0px 0 10px #FFAD00;
}

.header__search {
  padding: 5px;
}

.header__search input {
  width: 250px;
  padding: 10px 10px;
  margin-right: 40px;
  background-color: rgba(1, 1, 1, 0.4);
  color: white;
  border: none;
  -webkit-box-shadow: 0 0 1px #464646;
          box-shadow: 0 0 1px #464646;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 0 60px;
  position: relative;
}

.nav__item:hover {
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: rgba(1, 1, 1, 0.1);
}

.nav__item:hover > .sub-menu {
  display: block;
}

.nav__item > a {
  display: block;
  padding: 5px 30px;
  position: relative;
  font-size: 14px;
}

.nav__item > a::after {
  position: absolute;
  content: "";
  right: 0px;
  top: 16px;
  width: 1px;
  height: 10px;
  border-left: 1px solid #515151;
}

.sub-menu {
  position: absolute;
  display: none;
  margin-left: 0px;
  border-radius: 2px;
}

.sub-menu__item a {
  display: block;
  padding: 5px 50px 5px 10px;
  white-space: nowrap;
}

.sub-menu__item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.wrapper {
  width: 100%;
  min-height: 700px;
  color: #ddd;
}

.wrapper .hello {
  background-color: #181e2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .hello__fon {
  margin: 0 auto;
  max-width: 803px;
}

.wrapper .hello__fon img {
  width: 100%;
  height: auto;
}

.val-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  padding-left: 55px;
  -webkit-box-shadow: 0 0 10px #4E6BAE, inset	0 0 10px #4E6BAE;
          box-shadow: 0 0 10px #4E6BAE, inset	0 0 10px #4E6BAE;
}

.val-list__item {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  margin-top: 10px;
  border-radius: 3px;
  font-size: 17px;
  padding: 3px;
  color: #CECECE;
}

.val-list__item:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.val-list__item img {
  padding: 0 10px 0 20px;
}
/*# sourceMappingURL=style.css.map */